<%- include('../partials/header.ejs') %> 
<section>

       
      <h2>Lista de Estampillas </h2>
     
      <ul>
        <% if (Productos.length ===0){%>
            <div>NO HAY ESTAMPILLAS INFORMADAS </div>
        <%}  else {%>
          <div class="wrapper">
            <div>Estampilla</div>
            <div>Comentario </div>
            <div>Fecha Emision</div>
          </div>



          <% Productos.forEach(function(producto) { %>
              <li id="producto_<%= producto.id %>">
                <div class="wrapper">
                  <div><%= producto.titulo %> &nbsp</div>
                  <div><%= producto.comentario %></div>
                  <div><%= producto.fec_emision %></div>
                 
                </div>                    
                    
              </li>
          <%}); %>
        <% } %>
      </ul>  
    
</section>
<!-- <script src="mi_script.js"></script> -->