<%- include('../partials/header.ejs') %> 
<section>

       
      <h2>Lista de Usuarios</h2>
     
      <ul>
        <% if (Users.length ===0){%>
            <div>NO HAY USUARIOS</div>
        <%}  else {%>
          <div class="wrapper">
            <div>Apellido y Nombre</div>
            <div>Email</div>
            <div>opciones</div>
          </div>



          <% Users.forEach(function(user) { %>
              <li id="user_<%= user.id %>">
                <div class="wrapper">
                  <div><%= user.nombyApell %> &nbsp</div>
                  <div><%= user.email %></div>
                  <div>
                    <button ><a href="/editUserView/<%=user.id %>">editar</a> </button>
                    <button  onclick="deleteUser('<%= user.id %>')"> Eliminar</button>                  
                    <button><a href="/user/<%= user.id %>">Visualizar</a></button>                  
                  </div>
                </div>                    
                    
              </li>
          <%}); %>
        <% } %>
      </ul>  
    
</section>
<script src="mi_script.js"></script>